.about-container{
    @apply flex justify-center min-h-screen px-8 lg:px-24 py-24 bg-gray-100 text-gray-900;
}

.about-flex-container{
    @apply flex w-full max-w-6xl gap-12;
}

.about-picture-container{
    @apply flex-1 basis-1/2 h-[70vh] rounded-lg overflow-hidden shadow-lg sticky top-24 self-start;
}

.about-content-container{
    @apply flex-1 basis-1/2 w-full text-justify text-left flex flex-col;
}

.about-sub-title{
    @apply text-4xl font-bold mb-2
}

.about-occupation{
    @apply text-lg text-gray-600 mb-4
}

.about-content{
    @apply text-gray-700 leading-relaxed;
}

.about-section{
    @apply mb-10 min-h-[70vh] flex flex-col justify-center;
}

.about-section-title{
    @apply text-2xl font-semibold mb-3;
}

.spacing{
    @apply block mb-6
}

.more-button-container{
    @apply flex-1 basis-1/4 text-left;
}

.more-button{
    @apply flex items-center justify-center gap-2 rounded-full font-bold border border-gray-500 px-8 py-3 text-gray-700 hover:bg-gray-700 hover:text-white;
}
