.home-container{
    @apply flex h-screen bg-gray-100;
    @apply p-4 lg:p-8 2xl:p-16;
    /*h-[calc(100vh-var(--navbar-height))]*/
}

.content-container {
    @apply flex-auto relative rounded-xl bg-homebg bg-cover bg-center;
    background-position: center calc(50% + var(--home-bg-parallax, 0px));
    will-change: background-position;
    /* background-image: url('http://localhost:3000/portfolio_react/images/Portrait_Landscape.jpg'); */
}

.text-container{
    @apply text-white absolute bottom-0 left-0;
    @apply p-4 lg:p-8 2xl:p-24
}

.personalities{
    @apply text-left mb-4;
    @apply text-xl lg:text-2xl 2xl:text-2xl
}

.occupation{
    @apply text-left mb-4;
    @apply text-2xl lg:text-3xl 2xl:text-3xl
}

.introduction{
    @apply font-bold;
    @apply text-3xl lg:text-4xl 2xl:text-4xl
}
